/* Mobile responsiveness breakpoints: 
Mobile (< 480px)
Tablet (480px to 768px)
PC (>= 769) */

#content{
    display:flex;
    justify-content: space-between;
    width:80%;
    padding:1rem;
}

@media only screen and (max-width:480px){
    #content{
        width:100%;
        flex-direction: column;
}
}

h1{
    padding-bottom:1.5rem;
    font-size:2.5rem;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}

#add{
    width:30%
}

@media only screen and (max-width:480px){
    #add{
        width:100%;
        margin-bottom:3rem;
    }
}

#add_resident, #my_residents, #add_post, #my_posts{
    padding:1rem 2rem;
    border:.2rem solid rgb(226, 226, 226);
    border-radius:1rem;
    box-shadow: rgba(0, 0, 0, 0.39) 0 .2rem .3rem;
    background-color: white;
}

#add_resident{
    margin-bottom:3rem;
}

#my_residents{
    height:max-content;
    width:15%;
}

@media only screen and (max-width:480px){
    #my_residents{
        margin-bottom:3rem;
    }
}

#my_posts{
    width:40%;
}

@media only screen and (max-width:480px){
    #my_posts{
        margin-bottom:1rem;
    }
}

@media only screen and (max-width:480px){
    #add_resident, #my_residents, #add_post, #my_posts{
        width:calc(100% - 4rem);
    }
}

#my_posts > div{
    background-color: var(--innerdivs);
    border-radius:1rem;
}

#add_resident form, #add_post form, #my_posts form{
    display: flex;
    flex-direction: column;
}

label{
    margin-bottom:.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

label, #content a, button{
    font-size:1.5rem;
}

input, textarea, select{
    font-family: 'Times New Roman', Times, serif;
    padding:.5rem;
    background-color: var(--innerdivs);
    border:.2rem solid darkgrey;
}

#my_posts input, #my_posts textarea, #my_posts select{
    background-color: white;
}

input, textarea, select, button, #my_posts p{
    margin-bottom:1rem;
}

input[type=file]{
    border:.1rem solid black;
    background-color: white;
}

input[type=file]::file-selector-button{
    border-width: 0 .1rem 0 0;
    margin-right:1rem;
}

textarea{
    resize: none;
    font-family: 'Times New Roman', Times, serif;
    min-height:8rem;
}

button, #content a, input[type=file]::file-selector-button{
    padding:.5rem;
    cursor: pointer;
    border:.1rem solid black;
}

#add_resident button, #add_post button{
    background-color: var(--addButton);
    margin-top:1rem;
}

#add_resident button:hover{
    background-color: var(--addButtonHover);
}

#add_post button:hover{
    background-color: var(--addButtonHover);
}

#my_residents p{
    margin-bottom:1rem;
    text-align: center;
    font-size:1.8rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#my_residents a{
    margin-bottom:1.5rem;
}

#my_residents_actions{
    display:flex;
    justify-content: center;
    padding:0 2.5rem;
    margin-bottom:1rem;
}

#my_residents_actions a{
    height:100%;
    color:black;
    margin-right:1.5rem;
    background-color: var(--viewButton);
}

#my_residents_actions a:hover{
    background-color: var(--viewButtonHover);
}

#my_residents_actions button{
    background-color:var(--deleteButton);
    color:white;
    margin-left:1.5rem;
}

#my_residents_actions button:hover{
    background-color: var(--deleteButtonHover);
}

#my_posts button{
    background-color: var(--deleteButton);
    color:white;
}

#my_posts button:hover{
    background-color: var(--deleteButtonHover);
}

#my_posts .update{
    background-color:var(--addButton);
    color:black;
}

#my_posts .update:hover{
    background-color:var(--addButtonHover);
}

#one_post{
    border: .1rem solid black;
    padding:1rem;
    margin-bottom:2rem;
}

#one_post:last-child{
    margin-bottom:0;
}

#post_actions{
    display: flex;
}

#post_actions button:first-of-type{
    margin-right:1rem;
}