/* Mobile responsiveness breakpoints: 
Mobile (< 480px)
Tablet (480px to 768px)
PC (>= 769) */

#container{
    display: flex;
    flex-direction: column;
}

#posts{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    margin:0 5rem;
}

/* @media only screen and (max-width:768px){
    #posts{
        font-size:8px;
    }
    } */

@media only screen and (max-width:480px){
    #posts {
        margin:0;
    }
}

.one_post {
    display:flex;
    justify-content: space-between;
    width:40%;
    margin:1rem;
    border:.2rem solid darkgray;
    padding:1.5rem;
    background-color:white;
}

/* @media only screen and (max-width:768px){
    .one_post{
        font-size:8px;
    }
    } */
    
    @media only screen and (max-width:480px){
    .one_post{
        width:100%;
        margin:1rem 0;
        flex-direction: column;
    }
    }

.post_details {
    width:65%;
    font-family:'Times New Roman', Times, serif;
}

/* @media only screen and (max-width:768px){
    .one_post{
        font-size:8px;
    }
    } */
    
    @media only screen and (max-width:480px){
        .post_details {
            width:100%;
        }
        }

.post_details p:first-of-type {
    font-size:1.8rem;
    font-weight:bold;
    padding-bottom:.3rem;
    font-family: Arial, Helvetica, sans-serif;
}

.post_details p:nth-of-type(2){
    font-style:italic;
    font-size:1.3rem;
}

.post_details p:nth-of-type(3){
    padding-bottom:1rem;
    padding-top:1rem;
}

.post_details > a {
    font-size:1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(197, 72, 103);
}

.post_pic{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:30%;
}

/* @media only screen and (max-width:768px){
    .one_post{
        font-size:8px;
    }
    } */
    
    @media only screen and (max-width:480px){
        .post_pic{
            width:100%;
        }
        }

.post_pic button{
    margin-top:1rem;
    padding:.5rem;
    align-self:center;
    background-color:rgba(197, 72, 103, 0.39);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.post_pic button:hover{
    cursor: pointer;
    background-color:rgba(200, 39, 79,.5);
}

.one_post img{
    max-width:18rem;
    max-height:20rem;
    border:.1rem solid gray;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* @media only screen and (max-width:768px){
    .one_post{
        font-size:8px;
    }
    } */
    
    @media only screen and (max-width:480px){
        .one_post img{
            max-width:100%;
            max-height: auto;
        }
        }