/* Mobile responsiveness breakpoints: 
Mobile (< 480px)
Tablet (480px to 768px)
PC (>= 769) */

#posts{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    width:100%;
}

.one_post {
    display:flex;
    justify-content: space-between;
    width:30%;
    margin:1rem;
    border:.2rem solid rgb(226, 226, 226);
    border-radius:1rem;
    box-shadow: rgba(0, 0, 0, 0.39) 0 .2rem .3rem;
    padding:1.5rem;
    background-color:white;
}

@media only screen and (max-width:768px){
    .one_post{
        width:100%;
    }
    }
    
@media only screen and (max-width:480px){
.one_post{
    margin:1rem 0;
    flex-direction: column;
    }
}

.post_details {
    width:63%;
    font-family:'Times New Roman', Times, serif;
}

/* @media only screen and (max-width:768px){
    .one_post{
        font-size:8px;
    }
    } */
    
@media only screen and (max-width:480px){
    .post_details {
        width:100%;
        display: flex;
        flex-direction: column;
    }
}

.post_details p:first-of-type {
    font-size:1.8rem;
    font-weight:bold;
    padding-bottom:.3rem;
    font-family: Arial, Helvetica, sans-serif;
}

.post_details p:nth-of-type(2){
    padding-top:.5rem;
    padding-bottom:.5rem;
    font-size:1.4rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.post_details p:nth-of-type(3){
    font-size:1.2rem;
    font-style:italic;
    padding-bottom:1rem;
}

.post_details p:last-of-type{
    font-size:1.3rem;
}

/* @media only screen and (max-width:768px){
    .one_post{
        font-size:8px;
    }
    } */

@media only screen and (max-width:480px){
    .post_details a {
    text-align: center;
    padding-bottom:1rem;    
    }
}

.post_pic{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:30%;
}

/* @media only screen and (max-width:768px){
    .one_post{
        font-size:8px;
    }
    } */
    
@media only screen and (max-width:480px){
    .post_pic{
        width:100%;
    }
}

.post_pic p{
    padding-top:1rem;
    font-style: italic;
}

.post_pic button{
    margin-top:1.5rem;
    color:black;
    background-color: var(--addButton);
}

.button {
    padding:.5rem 1.4rem;
    color:black;
    background-color:var(--viewButton);
    margin-top:1rem;
}

.post_pic button:hover{
    cursor: pointer;
    background-color:var(--addButtonHover);
}

.post_pic a:hover{
    cursor: pointer;
    background-color:var(--viewButtonHover);
}

.one_post img{
    max-width:15rem;
    max-height:20rem;
    margin-top:.5rem;
    border:.1rem solid gray;
    border-radius:.5rem;
    box-shadow: rgba(92, 92, 92, 0.39) 0 .2rem .3rem;
}

/* @media only screen and (max-width:768px){
    .one_post{
        font-size:8px;
    }
    } */
    
@media only screen and (max-width:480px){
    .one_post img{
        max-width:90%;
        max-height:30rem;
        margin-top:1.5rem;
        margin-bottom:.5rem;
    }
}