/* Mobile responsiveness breakpoints: 
Mobile (< 480px)
Tablet (480px to 768px)
PC (>= 769) */

:root {
    --logo: rgb(221, 155, 171);
    --background: rgb(9, 37, 56);
    --innerdivs:rgba(195, 195, 195, 0.438);
    --addButton:rgba(139, 219, 195, 0.884);
    --addButtonHover:rgba(175, 238, 220, 0.856);
    --viewButton:rgba(247, 184, 102, 0.548);
    --viewButtonHover:rgba(247, 214, 170, 0.568);
    --deleteButton:rgba(189, 69, 69, 0.876);
    --deleteButtonHover:rgb(0, 0, 0);
}

*{
    margin:0;
    padding:0;
}

html{
    font-family:Verdana, Tahoma, sans-serif;
    font-size:10px;
}

@media only screen and (max-width:768px){
html{
    font-size:8px;
}
}

@media only screen and (max-width:480px){
html{
    font-size:8px;
}
}

p{
    font-size:1.5rem;
}

#wrapper{
    display:flex;
}

/* @media only screen and (max-width:768px){
    .one_post{
        font-size:8px;
    }
    } */
    
@media only screen and (max-width:480px){
    #wrapper{
        flex-direction: column;
        width:100%;
    }
}

#side_bar{
    display:flex;
    flex-direction: column;
    min-height:calc(100vh - 2.2rem);
    border:.1rem solid darkgray;
    padding:1rem 2rem;
}

@media only screen and (max-width:768px){
    #side_bar{
        width:20%;
    }
    }
    
@media only screen and (max-width:480px){
    #side_bar{
        min-height: 2rem;
        width:calc(100% - .2rem);
        padding:.5rem 0;
        align-items: center;
        justify-content: center;
    }
}

#logo span{
    font-size:3rem;
    font-family:'Lucida handwriting';
    color:var(--logo);
}

#logo{
    font-size:2.5rem;
}

nav{
    display:flex;
    flex-direction: column;
}
    
@media only screen and (max-width:480px){
    nav{
        flex-direction: row;
        padding: 0.5rem 0;
        position: fixed;
        bottom: 0;
        background-color: white;
        justify-content: space-evenly;
        border:.1rem solid darkgray;    
        width:calc(100% - .2rem);
    }
}

nav div{
    display: flex;
    padding:2rem 0;
    width:15%;
}
    
@media only screen and (max-width:480px){
    nav div{
        flex-direction: column;
        align-items:center;
        padding:1rem;        
    }
}

nav img{
    padding-right:1rem;
}
    
@media only screen and (max-width:480px){
    nav img{
        width:3rem;
        padding:0;
    }
}

nav a, nav p{
    text-decoration: none;
    color: black;
    font-size:1.7rem;
}

nav span{
    font-size:1.5rem;
}

/* @media only screen and (max-width:768px){
    .one_post{
        font-size:8px;
    }
    } */
    
@media only screen and (max-width:480px){
    nav a, nav p, nav span {
        font-size:1.3rem;
        text-align: center;
    }
}

#container{
    padding:2rem;
    background-color:var(--background);
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

/* @media only screen and (max-width:768px){
    .one_post{
        font-size:8px;
    }
    } */
    
@media only screen and (max-width:480px){
    #container {
        padding:1rem 2rem 9rem 2rem;
        width:calc(100% - 4rem);
    }
}

button, .button{
    border:.1px solid black;
    border-radius:.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0 .2rem .5rem;
    font-size:1.4rem;
    padding:.5rem;
    text-decoration: none;
    align-self:center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}