/* Mobile responsiveness breakpoints: 
Mobile (< 480px)
Tablet (480px to 768px)
PC (>= 769) */

*{
    margin:0;
    padding:0;
}

html{
    font-family:Verdana, Tahoma, sans-serif;
    font-size:10px;
}

@media only screen and (max-width:768px){
html{
    font-size:8px;
}
}

@media only screen and (max-width:480px){
html{
    font-size:8px;
}
}

p{
    font-size:1.5rem;
}

#wrapper{
    display:flex;
}

/* @media only screen and (max-width:768px){
    .one_post{
        font-size:8px;
    }
    } */
    
    @media only screen and (max-width:480px){
        #wrapper{
            flex-direction: column;
        }
        }

#side_bar{
    display:flex;
    flex-direction: column;
    border:.1rem solid darkgrey;
    min-height:calc(100vh - 2.2rem);
    padding:1rem 2rem;
}

/* @media only screen and (max-width:768px){
    .one_post{
        font-size:8px;
    }
    } */
    
    @media only screen and (max-width:480px){
        #side_bar{
            min-height: auto;
            padding:.5rem 1rem;
            position:fixed;
            top:0;
            background-color: white;
            width:calc(100% - 2.2rem);
        }
        }

#logo span{
    font-size:3rem;
    font-family:'Lucida handwriting';
    color:rgb(200, 39, 79);
}

#logo{
    font-size:2.5rem;
}

/* @media only screen and (max-width:768px){
    .one_post{
        font-size:8px;
    }
    } */
    
@media only screen and (max-width:480px){
    #logo{
        align-self:center;
    }
}

nav{
    display:flex;
    flex-direction: column;
}

/* @media only screen and (max-width:768px){
    .one_post{
        font-size:8px;
    }
    } */
    
@media only screen and (max-width:480px){
    nav{
        flex-direction: row;
    }
    }

nav div{
    display: flex;
    padding:2rem 0;
}

/* @media only screen and (max-width:768px){
    .one_post{
        font-size:8px;
    }
    } */
    
    @media only screen and (max-width:480px){
        nav div{
            flex-direction: column;
            align-items:center;
            padding:1rem;        
        }
    }

nav img{
    padding-right:1rem;
}

/* @media only screen and (max-width:768px){
    .one_post{
        font-size:8px;
    }
    } */
    
    @media only screen and (max-width:480px){
        nav img{
            width:3rem;
            padding:0;
        }
        }

nav a, nav p{
    text-decoration: none;
    color: black;
    font-size:1.7rem;
}

nav span{
    font-size:1.5rem;
}

/* @media only screen and (max-width:768px){
    .one_post{
        font-size:8px;
    }
    } */
    
    @media only screen and (max-width:480px){
        nav a, nav p, nav span {
            font-size:1.3rem;
            text-align: center;
        }
        }

#container{
    border-width: .1rem .1rem .1rem 0;
    border-style: solid;
    border-color:darkgrey;
    padding:2rem;
    background-color:rgba(227, 235, 243, 0.3);
}

/* @media only screen and (max-width:768px){
    .one_post{
        font-size:8px;
    }
    } */
    
    @media only screen and (max-width:480px){
        #container {
            margin-top:11rem;
            padding:1.5rem 2rem;
        }
        }