<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'normalize.css' %}">
    <link rel="stylesheet" href="{% static 'skeleton.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'adminstyle.css' %}">
    <title>Admin Dashboard</title>
</head>
<body>
    <div class="container">
        <div class="row"><div class="twelve columns"><br></div></div>
        <div class="row">
        <div class="one column"><br></div>
        <div class="two columns">
            <a href="/penfriends" class="button">Seeking PenFriends</a>
            {% if this_user.category == "admin" %}
            <a href="/penfriends/dashboard/admin" class="button">My Admin Dashboard</a>
            {% endif %}
            {% if this_user.category == "penpal" %}
            <a href="/penfriends/dashboard/penpal" class="button">My PenFriend Dashboard</a>
            {% endif %}
            <a href="/penfriends/inbox" class="button">Inbox ({{unread_message_count}})</a>
            <a href="/logout" class="button">Logout</a>
        </div>
        <div class="one column"><br></div>
        <div class="four columns">
            Hi, {{this_user.category}} {{this_user.first_name}} {{this_user.last_name}}
            <form  class="sub_body" action="/penfriends/dashboard/admin/createresident" method="Post" enctype="multipart/form-data">
                <h2>Add New Resident</h2>
                {%csrf_token%}
                
                <div>
                    <label for="first_name">First Name</label>
                    <input type="text" name="first_name">
                </div>
                <div>
                    <label for="last_name">Last Name</label>
                    <input type="text" name="last_name">
                </div>
                <div>
                    <label for="bio">Bio</label>
                    <textarea name="bio"></textarea>
                </div>
                <div>
                    <label for="picture">Picture</label>
                    <input type="file" name="picture" accept="image/*">
                </div>
                <br>
                <button>Add Resident</button>
                
            </form>
            <div class="sub_body">
                <h3>My Residents</h3>
                    {% for resident in this_user.residents.all %}
                    <ul><a href='/penfriends/resident/{{resident.id}}' class="button">{{resident.first_name}} {{resident.last_name}}</a>
                        <form action="/penfriends/resident/{{resident.id}}/delete" method="post">
                            {% csrf_token %}
                            <button>Delete</button>
                        </form>
                    </ul>
                    {% endfor%}                
            </div>
        </div>
        <div class="four columns">
            <form class="sub_body" action="/penfriends/dashboard/admin/createpost" method="Post">
                <h2>Add New Post</h2>
                {%csrf_token%}
                <div>
                    <label for="title">Title</label>
                    <input type="text" name="title">
                </div>
                <div>
                    <label for="for_resident">Choose a resident:</label>
                    <select name="for_resident">
                        {% for resident in this_user.residents.all%}
                    <option value="{{resident.id}}">{{resident.first_name}} {{resident.last_name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="body">Body</label>
                    <textarea name="body"></textarea>
                </div>
                <br>
                <button>Add Post</button>
                
            </form>
            <div class="sub_body">
                <h3>My Posts</h3>
            {% for resident in this_user.residents.all %}
                {% for post in resident.res_posts.all %}
                    <form action="/penfriends/resident/{{post.id}}/updatepost" method="Post">
                        {%csrf_token%}
                        <div>
                            <label for="title">Title</label>
                            <input type="text" name="title" value="{{post.title}}">
                        </div>
                        <p>For Resident: {{post.for_resident.first_name}} {{post.for_resident.last_name}}</p>
                        <div>
                            <label for="body">Body</label>
                            <textarea name="body">{{post.body}}</textarea>
                        </div>
                        <br>
                        <button>Update</button>
                    </form>
                    <form action="/penfriends/resident/{{post.id}}/deletepost" method="post">
                        {% csrf_token %}
                        <button>Delete</button>
                    </form>
                {% endfor %}
            {% endfor %}
            {% if messages %}
                <div class="alert alert-warning" role="alert">
                    <ul class="messages">    
                        {% for message in messages %}    
                            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            </div>
        </div>
        </div>
    </div>    
</body>
</html>