<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{this_user.first_name}}'s Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <nav>
            <a href="/penfriends">Seeking PenFriends</a>
            {% if this_user.category == "admin" %}
            <a href="/penfriends/dashboard/admin">Admin Dashboard</a>
            {% endif %}
            {% if this_user.category == "penpal" %}
            <a href="/penfriends/dashboard/penpal">PenFriend Dashboard</a>
            {% endif %}
            <span><a href="/penfriends/inbox">Inbox</a>({{unread_message_count}})</span>
            <a href ="/penfriends/sent">Sent</a>
            <a href="/logout">Logout</a>
        </nav>
        <h1>{{this_user.first_name}}'s Dashboard</h1>
        {% if messages %}
        <div>
            {% for message in messages %}    
                <p>{{message}}</p>    
            {% endfor %}
        </div>
        {% endif %}
        <div>
            <h2>My PenFriends</h2>
            {% for resident in all_the_residents %}
            <a href ="/penfriends/resident/{{resident.id}}">{{resident.first_name}} {{resident.last_name}}</a>
            <form action="/penfriends/dashboard/penpal/remove_penpal" method="POST">
            {% csrf_token %}
                <input name="resident_id" type="hidden" value="{{resident.id}}">
                <button type="submit">Remove PenFriend</button>
            </form>
            {% endfor %}
        </div>
        <div>
            <h2>Change Password</h2>
            <form action="/penfriends/dashboard/penpal/update_password" method="POST">
                {% csrf_token %}
                <label for="password">Password</label>
                <input name="password" type="password">
                <label for="password_confirm">Confirm Password</label>
                <input name="password_confirm" type="password">
                <button type="submit">Update Password</button>
            </form>
        </div>
    </div>
</body>
</html>