<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PenFriends</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<body>
    <div id="wrapper">
        <div id ="side_bar">
            <p id="logo"><span>P</span>en<span>F</span>riends</p>
            <nav>
                <div>
                    <img src="https://fonts.gstatic.com/s/i/materialiconsoutlined/people/v22/24px.svg"><a href="/penfriends">Seeking</a>
                </div>
                    {% if this_user.category == "admin" %}
                <div>
                    <img src="https://fonts.gstatic.com/s/i/materialiconsoutlined/grid_view/v12/24px.svg"><a href="/penfriends/dashboard/admin">Dashboard</a>
                    </div>
                {% endif %}
                {% if this_user.category == "penpal" %}
                <div>
                    <img src="https://fonts.gstatic.com/s/i/materialiconsoutlined/grid_view/v12/24px.svg"><a href="/penfriends/dashboard/penpal">Dashboard</a>
                </div>
                {% endif %}
                <div>
                    <img src="https://fonts.gstatic.com/s/i/materialiconsoutlined/mail/v15/24px.svg"><span><a href="/penfriends/inbox">Inbox</a> ({{unread_message_count}})</span>
                </div>
                <div>
                    <img src="https://fonts.gstatic.com/s/i/materialiconsoutlined/send/v19/24px.svg"><a href ="/penfriends/sent">Sent</a>
                </div>
                <div>
                    <img src="https://fonts.gstatic.com/s/i/materialiconsoutlined/logout/v12/24px.svg"><a href="/logout">Logout</a>
                </div>
            </nav>
        </div>
        <div id="container">
            <div id="posts">
                {% for post in all_the_posts %}
                <div class="one_post">
                    <div class="post_details">
                        <p>{{post.title}}</p>
                        <p>{{post.created_at.date}}</p>
                        <p>{{post.body}}</p>
                        <a href="/penfriends/resident/{{post.for_resident.id}}">View {{post.for_resident.first_name}} {{post.for_resident.last_name}}'s Profile</a>
                    </div>
                    <div class ="post_pic">
                        {% if post.for_resident.picture %}
                        <img src={{post.for_resident.picture.url}} alt="{{post.for_resident.first_name}} {{post.for_resident.last_name}}">
                        {% endif %}
                        {% if this_user.category == "penpal" and post.for_resident not in this_user.penpal_residents.all %}
                        <form action="/penfriends/become_penfriend" method="POST">
                        {% csrf_token %}
                            <input name="resident_id" type="hidden" value={{post.for_resident.id}}>
                            <button type="submit">PenFriend with {{post.for_resident.first_name}}</button>
                        </form>
                        {% else %}
                        <p>You are PenFriends</p>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>