<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Details</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div id="wrapper">
        <div id ="side_bar">
            <p id="logo"><span>P</span>en<span>F</span>riends</p>
            <nav>
                <div>
                    <img src="https://fonts.gstatic.com/s/i/materialiconsoutlined/people/v22/24px.svg"><a href="/penfriends">Seeking</a>
                </div>
                    {% if this_user.category == "admin" %}
                <div>
                    <img src="https://fonts.gstatic.com/s/i/materialiconsoutlined/grid_view/v12/24px.svg"><a href="/penfriends/dashboard/admin">Dashboard</a>
                    </div>
                {% endif %}
                {% if this_user.category == "penpal" %}
                <div>
                    <img src="https://fonts.gstatic.com/s/i/materialiconsoutlined/grid_view/v12/24px.svg"><a href="/penfriends/dashboard/penpal">Dashboard</a>
                </div>
                {% endif %}
                <div>
                    <img src="https://fonts.gstatic.com/s/i/materialiconsoutlined/mail/v15/24px.svg"><span><a href="/penfriends/inbox">Inbox</a> ({{unread_message_count}})</span>
                </div>
                <div>
                    <img src="https://fonts.gstatic.com/s/i/materialiconsoutlined/send/v19/24px.svg"><a href ="/penfriends/sent">Sent</a>
                </div>
                <div>
                    <img src="https://fonts.gstatic.com/s/i/materialiconsoutlined/logout/v12/24px.svg"><a href="/logout">Logout</a>
                </div>
            </nav>
        </div>
        <div id="container">
            <form action="/penfriends/message/new_message" method="POST">
                {% csrf_token %}
                <button type="submit">Reply</button>
            </form>
            {% if message.unread == True %}
            <form action="/penfriends/message/mark_read" method="POST">
                {% csrf_token %}
                <input type="hidden" name="message_id" value="{{message.id}}">
                <button type="submit">Mark Read</button>
            </form>
            {% else %}
            <form action="/penfriends/message/mark_unread" method="POST">
                {% csrf_token %}
                <input type="hidden" name="message_id" value="{{message.id}}">
                <button type="submit">Mark Unread</button>
            </form>
            {% endif %}
            <form action="/penfriends/message/delete" method="POST">
                {% csrf_token %}
                <input type="hidden" name="message_id" value="{{message.id}}">
                <button type="submit">Delete</button>
            </form>
            <div>
                <h1>Message</h1>
                <p>From: {{message.creator.first_name}} {{message.creator.last_name}}</p>
                <p>To: {{message.recipient.first_name}} {{message.recipient.last_name}}</p>
                <p>Date: {{message.created_at}}</p>
                <p>Subject: {{message.subject}}</p>
                <p>Resident: {{message.pen_resident.first_name}} {{message.pen_resident.last_name}}</p>
                <p>{{message.content}}</p>
                {% if message.attachment %}
                <img src="{{message.attachment.url}}" alt="Message Attachment">
                <a href="{{this_message.attachment.url}}" download>Download</a>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>