<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Details</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <nav>
            <a href="/penfriends">Seeking PenFriends</a>
            {% if this_user.category == "admin" %}
            <a href="/penfriends/dashboard/admin">My Admin Dashboard</a>
            {% endif %}
            {% if this_user.category == "penpal" %}
            <a href="/penfriends/dashboard/penpal">My PenFriend Dashboard</a>
            {% endif %}
            <a href="/penfriends/inbox">Inbox ({{unread_message_count}})</a>
            <a href="/logout">Logout</a>
        </nav>
        <form action="/penfriends/message/new_message" method="POST">
            {% csrf_token %}
            <button type="submit">Reply</button>
        </form>
        {% if message.unread == True %}
        <form action="/penfriends/message/mark_read" method="POST">
            {% csrf_token %}
            <input type="hidden" name="message_id" value="{{message.id}}">
            <button type="submit">Mark Read</button>
        </form>
        {% else %}
        <form action="/penfriends/message/mark_unread" method="POST">
            {% csrf_token %}
            <input type="hidden" name="message_id" value="{{message.id}}">
            <button type="submit">Mark Unread</button>
        </form>
        {% endif %}
        <form action="/penfriends/message/delete" method="POST">
            {% csrf_token %}
            <input type="hidden" name="message_id" value="{{message.id}}">
            <button type="submit">Delete</button>
        </form>
            <h1>Message</h1>
            <p>From: {{message.creator.first_name}} {{message.creator.last_name}}</p>
            <p>To: {{message.recipient.first_name}} {{message.recipient.last_name}}</p>
            <p>Date: {{message.created_at}}</p>
            <p>Subject: {{message.subject}}</p>
            <p>Resident: {{message.pen_resident.first_name}} {{message.pen_resident.last_name}}</p>
            <p>{{message.content}}</p>
            {% if message.attachment %}
            <img src="{{message.attachment.url}}" alt="Message Attachment">
            <a href="{{this_message.attachment.url}}" download>Download</a>
            {% endif %}
    </div>
</body>
</html>