<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Message</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <nav>
            <a href="/penfriends">Seeking PenFriends</a>
            {% if this_user.category == "admin" %}
            <a href="/penfriends/dashboard/admin">Admin Dashboard</a>
            {% endif %}
            {% if this_user.category == "penpal" %}
            <a href="/penfriends/dashboard/penpal">PenFriend Dashboard</a>
            {% endif %}
            <span><a href="/penfriends/inbox">Inbox</a>({{unread_message_count}})</span>
            <a href ="/penfriends/sent">Sent</a>
            <a href="/logout">Logout</a>
        </nav>
        <h1>Create New Message</h1>
        <form action="/penfriends/message/create_message" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <label for="subject">Subject</label>
                <input type="text" name="subject">
            </div>
            <div>
                <label for="recipient_id">Recipient</label>
                <select name="recipient_id">
                    {% for recipient in all_recipients %}
                    <option value="{{recipient.id}}">{{recipient.first_name}} {{recipient.last_name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="resident_id">Resident</label>
                <select name="resident_id" >
                {% if this_user.category == "penpal" %}
                    {% for resident in this_user.penpal_residents.all %}
                    <option value="{{resident.id}}">{{resident.first_name}} {{resident.last_name}}</option>  
                    {% endfor %}
                {% endif%}
                {% if this_user.category == "admin" %}
                    {% for resident in this_user.residents.all %}
                    <option value="{{resident.id}}">{{resident.first_name}} {{resident.last_name}}</option>
                    {% endfor %}
                {% endif%}
                </select>
            </div>
            <div>
                <label for="content">Content</label>
                <textarea name="content"></textarea>
            </div>
            <div>
                <label for="attachment">Attachment</label>
                <input type="file" name="attachment">
            </div>
            <button type="submit">Send</button>
            {% if messages %}
            <div>   
                {% for message in messages %}    
                <p>{{ message }}</p>    
                {% endfor %}
            </div>
            {% endif %}
        </form>
    </div>    
</body>
</html>