<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'normalize.css' %}">
    <link rel="stylesheet" href="{% static 'skeleton.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'adminstyle.css' %}">
    <title>Create New Message</title>
</head>
<body>
    <div class="container">
        <div class="row"><div class="twelve columns"><br></div></div>
        <div class="row">
        <div class="one column"><br></div>
        <div class="two columns">
            <a href="/penfriends" class="button">Seeking PenFriends</a>
            {% if this_user.category == "admin" %}
            <a href="/penfriends/dashboard/admin"class="button">My Admin Dashboard</a>
            {% endif %}
            {% if this_user.category == "penpal" %}
            <a href="/penfriends/dashboard/penpal" class="button">My PenFriend Dashboard</a>
            {% endif %}
            <a href="/penfriends/inbox" class="button">Inbox ({{unread_message_count}})</a>
            <a href="/logout" class="button">Logout</a>
        </div>
        <div class="three columns"><br></div>
        <div class="six columns">
            <h2>Create New Message</h2>
            <br>
            <form class="sub_body" action="/penfriends/message/create_message" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    <label for="subject">Subject</label>
                    <input type="text" name="subject">
                </div>
                <div>
                    <label for="recipient_id">Recipient</label>
                    <select name="recipient_id">
                        {% for recipient in all_recipients %}
                        <option value="{{recipient.id}}">{{recipient.first_name}} {{recipient.last_name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="resident_id">Resident</label>
                    <select name="resident_id" >
                        {% if this_user.category == "penpal" %}
                            {% for resident in this_user.penpal_residents.all %}
                        <option value="{{resident.id}}">{{resident.first_name}} {{resident.last_name}}</option>  
                        {% endfor %}
                        {% endif%}
                        {% if this_user.category == "admin" %}
                            {% for resident in this_user.residents.all %}
                        <option value="{{resident.id}}">{{resident.first_name}} {{resident.last_name}}</option>
                        {% endfor %}
                        {% endif%}
                    </select>
                </div>
                <div>
                    <label for="content">Content</label>
                    <textarea name="content"></textarea>
                </div>
                <div>
                    <label for="attachment">Attachment</label>
                    <input type="file" name="attachment">
                </div>
                <button>Send</button>
                {% if messages %}
                <div class="alert alert-warning" role="alert">   
                    <ul class="messages">    
                        {% for message in messages %}    
                            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </form>
        </div>
        </div>
    </div>    
</body>
</html>