<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PenFriends</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <nav>
            <a href="/penfriends">Seeking PenFriends</a>
            {% if this_user.category == "admin" %}
            <a href="/penfriends/dashboard/admin">My Admin Dashboard</a>
            {% endif %}
            {% if this_user.category == "penpal" %}
            <a href="/penfriends/dashboard/penpal">My PenFriend Dashboard</a>
            {% endif %}
            <a href="/penfriends/inbox">Inbox ({{unread_message_count}})</a>
            <a href="/logout">Logout</a>
        </nav>
        <h1>Seeking PenFriends</h1>
        <div>
            {% for post in all_the_posts %}
            <div id="post">
                <h2>{{post.title}}</h2>
                <p>{{post.body}}</p>
                <p>Check out <a href="/penfriends/resident/{{post.for_resident.id}}">{{post.for_resident.first_name}} {{post.for_resident.last_name}}'s</a> profile for more info</p>
                <img src={{post.for_resident.picture.url}} alt="{{post.for_resident.first_name}} {{post.for_resident.last_name}}">
                {% if this_user.category == "penpal" %}
                    {% if post.for_resident not in this_user.penpal_residents.all %}
                    <form action="/penfriends/become_penfriend" method="POST">
                    {% csrf_token %}
                        <input name="resident_id" type="hidden" value={{post.for_resident.id}}>
                        <button type="submit">I want to be {{post.for_resident.first_name}}'s PenFriend</button>
                    </form>
                    {% endif %}
                {% endif %}
                {% if messages %}
                <div>   
                    {% for message in messages %}    
                    <p>{{ message }}</p>    
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>