<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resident Profile</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <nav>
            <a href="/penfriends">Seeking PenFriends</a>
            {% if this_user.category == "admin" %}
            <a href="/penfriends/dashboard/admin">Admin Dashboard</a>
            {% endif %}
            {% if this_user.category == "penpal" %}
            <a href="/penfriends/dashboard/penpal">PenFriend Dashboard</a>
            {% endif %}
            <span><a href="/penfriends/inbox">Inbox</a>({{unread_message_count}})</span>
            <a href ="/penfriends/sent">Sent</a>
            <a href="/logout">Logout</a>
        </nav> 
        <h1>{{this_resident.first_name}} {{this_resident.last_name}}</h1>
        {% if this_user.id == this_resident.creator.id %}
        <form action="/penfriends/resident/{{this_resident.id}}/updateresident" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% if this_resident.picture %}
            <img id="profilepicture" src="{{ this_resident.picture.url }}" alt="profile pic">
            {% endif %}
            <div>
                <label for="picture">Picture</label>
                <input type="file" name="picture" accept="image/*">
            </div>
            <div>
                <label for="first_name">First Name</label>
                <input type="text" name="first_name" value="{{this_resident.first_name}}">
            </div>
            <div>
                <label for="last_name">Last Name</label>
                <input type="text" name="last_name" value="{{this_resident.last_name}}">
            </div>
            <div>
                <label for="bio">Bio</label>
                <textarea name="bio">{{this_resident.bio}}</textarea>
            </div>
            <button class="btn btn-success btn-sm">Update</button>
        </form>
        <form action="/penfriends/resident/{{this_resident.id}}/delete" method="POST">
            {% csrf_token %}
            <button type="submit">Delete</button>
        </form>
        {% if messages %}
        <div>
            {% for message in messages %}    
                <p>{{message}}</p>    
            {% endfor %}
        </div>
        {% endif %}
        {% endif %}
        {% if this_user.id != this_resident.creator.id %}
        {% if this_resident.picture %}
        <img id="profilepicture" src="{{ this_resident.picture.url }}" alt="profile pic">
        {% endif %}    
        <p>First Name: {{this_resident.first_name}}</p>
        <p>Last Name: {{this_resident.last_name}}</p>
        <p>Bio: {{this_resident.bio}}</p>
        {% endif %}    
    </div>    
</body>
</html>