<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <nav>
            <a href="/penfriends">Seeking PenFriends</a>
            {% if this_user.category == "admin" %}
            <a href="/penfriends/dashboard/admin">Admin Dashboard</a>
            {% endif %}
            {% if this_user.category == "penpal" %}
            <a href="/penfriends/dashboard/penpal">PenFriend Dashboard</a>
            {% endif %}
            <span><a href="/penfriends/inbox">Inbox</a>({{unread_message_count}})</span>
            <a href ="/penfriends/sent">Sent</a>
            <a href="/logout">Logout</a>
        </nav>
        <h1>Sent Messages</h1>
        {% if user_messages %}
        <table>
            <thead>
                <td>To</td>
                <td>Date</td>
                <td>Subject</td>
                <td>Resident</td>
                <td>Attachment?</td>
                <td>Actions</td>
            </thead>
            {% for message in user_messages %}
            <tbody>
                <tr>
                    <td>{{message.recipient.first_name}} {{message.recipient.last_name}}</td>
                    <td>{{message.created_at}}</td>
                    <td>{{message.subject}}</td>
                    <td>{{message.pen_resident.first_name}} {{message.pen_resident.last_name}}</td>
                    {% if message.attachment %}<td>Yes</td>{% else %}<td>No</td>{% endif %}
                    <td>
                        <form action="/penfriends/message/{{message.id}}" method="POST">
                            {% csrf_token %}
                            <button type="submit">View</button>
                        </form>
                        {% if message.unread == True %}
                        <form action="/penfriends/message/mark_read" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="message_id" value="{{message.id}}">
                            <button type="submit">Mark Read</button>
                        </form>
                        {% else %}
                        <form action="/penfriends/message/mark_unread" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="message_id" value="{{message.id}}">
                            <button type="submit">Mark Unread</button>
                        </form>
                        {% endif %}
                    </td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
        {% else %}
        <p>You have no sent messages</p>
        {% endif %}
        <a href="/penfriends/message/new_message">Compose new message</a>
    </div>
</body>
</html>