/*Mobile responsiveness breakpoints: 
Mobile (< 480px)
Tablet (480px to 768px)
PC (>= 769) */

*{
    margin:0;
    padding:0;
}

html{
    font-family:Verdana, Tahoma, sans-serif;
    font-size:10px;
}

@media only screen and (max-width:768px){
html{
    font-size:8px;
}
}

@media only screen and (max-width:480px){
html{
    font-size:8px;
}
}

header{
    display:flex;
    flex-direction:column;
    align-items:center;
}

span{
    font-size:4rem;
    font-family:'Lucida handwriting';
    color:rgb(200, 39, 79);
}

#logo{
    padding:1rem 2rem;
    align-self:start;
    color:black;
}

h1{
    font-size:4rem;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    text-align:center;
    font-weight:normal;
    color:rgba(66, 66, 66, 1);
}

@media only screen and (max-width:480px){
h1{
    font-size:3.5rem;
}
}

p{
    font-size:3rem;
    text-align:center;
}

p{
    padding:3rem 0 4rem 0;
}

@media only screen and (max-width:768px){
p{
    padding:3rem 1rem 4rem 1rem;
}
}

@media only screen and (max-width:480px){
p{
    padding:3rem 1rem 4rem 1rem;
}
}

.messages{
    box-sizing: border-box;
    text-align:center;
    color:#bf0000;
    font-size:1.8rem;
    padding:.5rem;
    background-color:white;
    border:.2rem solid black;
    margin:2rem auto 0 2rem;
}

.error::marker{
    color:transparent
}

#wrapper{
    display:flex;
    justify-content:center;
    padding-top:2rem;
}

@media only screen and (max-width:480px){
#wrapper{
    flex-direction:column;
    align-items:center;    
}
}

#wrapper div{
    background-color:rgba(227, 235, 243, 0.7);
    width:25%;
    margin:2rem 4rem;
    border:.1rem solid black;
    border-radius: 2rem;
    box-shadow:rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;;
}

@media only screen and (max-width:768px){
#wrapper div{
    width:40%;
}
}

@media only screen and (max-width:480px){
#wrapper div {
    width:80%;
    margin-bottom:4rem;
}
}

h2{
    text-align:center;
    font-size:3.5rem;
    padding:1.5rem;
    color:#2D3033;
    font-weight: normal;
}

form{
    display:flex;
    flex-direction:column;
    padding:0 4.5rem 2rem 3rem;
}

#login{
    height:25%;
}

label{
    font-size:2rem;
    margin-bottom:1rem;
    color:black;
}

input{
    padding:.8rem;
    width:100%;
    margin-left:.2rem;
}

input, select{
    margin-bottom:.8rem;
    border:.1rem solid black;
    font-size:1.5rem;
    border-radius: 2rem;
    background-color:white;
}

select{
    padding:.5rem;
    align-self: left;
    width:45%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow:0 0 0 3rem white inset;
}

button{
    padding:.5rem 1rem;
    width:55%;
    font-size:2rem;
    font-weight: bold;
    align-self:center;
    margin-top:1rem;
    box-shadow:rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    color:white;
    background-color:rgba(66, 66, 66, 0.8);
    border-radius: 2rem;
}

@media only screen and (max-width:480px){
    button{
    width:45%;
}
}

button:hover{
    cursor:pointer;
    background-color:rgba(66, 66, 66, 1);
    color:white;
}

#login button{
    width:35%;
}

@media only screen and (min-width:769px){
#login button{
    width:40%;
}
}