<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'normalize.css' %}">
    <link rel="stylesheet" href="{% static 'skeleton.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{this_user.first_name}}'s Inbox</title>
</head>
<body>
    <div class="container">
        <div class="one column"></div>
        <div class="two columns">
        <nav>
            <a href="/penfriends">Seeking PenFriends</a>
            {% if this_user.category == "admin" %}
            <a href="/penfriends/dashboard/admin">My Admin Dashboard</a>
            {% endif %}
            {% if this_user.category == "penpal" %}
            <a href="/penfriends/dashboard/penpal">My PenFriend Dashboard</a>
            {% endif %}
            <a href="/penfriends/inbox">Inbox ({{unread_message_count}})</a>
            <a href="/logout">Logout</a>
        </nav>
        <div class="one column"></div>
        <div class="six columns">
        <div class="body">
            <h3>Inbox</h3>
            {% if user_messages %}
            <table>
                    <thead>
                        <td>From:</td>
                        <td>To:</td>
                        <td>Date:</td>
                        <td>Subject:</td>
                        <td>Resident:</td>
                        <td>Attachment:</td>
                        <td>Actions:</td>
                    </thead>
                        {% for message in user_messages %}
                        <tr>
                            <td>{{message.creator.first_name}} {{message.creator.last_name}}</td>
                            <td>{{message.recipient.first_name}} {{message.recipient.last_name}}</td>
                            <td>{{message.created_at}}</td>
                            <td>{{message.subject}}</td>
                            <td>{{message.pen_resident.first_name}} {{message.pen_resident.last_name}}</td>
                            {% if message.attachment %}<td>y</td>{% else %}<td>n</td>{% endif %}
                            <td>
                                <form action="/penfriends/message/{{message.id}}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit">View</button>
                                </form>
                                {% if message.unread == True %}
                                <form action="/penfriends/message/mark_read" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="message_id" value="{{message.id}}">
                                    <button type="submit">Mark Read</button>
                                </form>
                                {% else %}
                                <form action="/penfriends/message/mark_unread" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="message_id" value="{{message.id}}">
                                    <button type="submit">Mark Unread</button>
                                </form>
                                {% endif %}
                                <form action="/penfriends/message/delete" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="message_id" value="{{message.id}}">
                                    <button type="submit">Delete</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
            </table>
            {% else %}
            <p>You have no messages at this time</p>
            {% endif %}
            <a class="button" href="/penfriends/message/new_message">Compose new message</a>
        </div>
        </div>
        <div class="two columns"></div>
</body>
</html>