<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{this_user.first_name}}'s Inbox</title>
</head>
<body>
    <div class="container">
        <nav>
            <a href="/penfriends">Seeking PenFriends</a>
            {% if this_user.category == "admin" %}
            <a href="/penfriends/dashboard/admin">My Admin Dashboard</a>
            {% endif %}
            {% if this_user.category == "penpal" %}
            <a href="/penfriends/dashboard/penpal">My PenFriend Dashboard</a>
            {% endif %}
            <a href="/penfriends/inbox">Inbox({{this_user.messages.unread.count}})</a>
            <a href="/logout">Logout</a>
        </nav>
        <div class="body">
            <h3>Inbox</h3>
            <table>
                <thead>
                    <td>Subject:</td>
                    <td>From:</td>
                    <td>Date:</td>
                    <td>Attachment:</td>
                    <td>Actions:</td>
                </thead>
                    <tr>
                        <td>{{message.subject}}</td>
                        <td>{{message.sender}}</td>
                        <td>{{message.created}}</td>
                        {% if message.attachment == null %}<td>y</td>{% else %}<td>n</td>{% endif %}
                        <td><a href="/message/{{message.id}}">View</a>|<a href="/penfriends/message/{{message.id}}/mark_read">Mark read</a>|<a href="/penfriends/message/{{message.id}}/delete">Delete</a></td>
                    </tr>
            </table>
            <a class="button" href="/penfriends/message/new_message">Compose new message</a>
        </div>
</body>
</html>