<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/skeleton.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message details</title>
</head>
<body>
    <div class="container">
        <div class="one column"></div>
        <div class="two columns">
        <nav>
            <a href="/penfriends">Seeking PenFriends</a>
            {% if this_user.category == "admin" %}
            <a href="/penfriends/dashboard/admin">My Admin Dashboard</a>
            {% endif %}
            {% if this_user.category == "penpal" %}
            <a href="/penfriends/dashboard/penpal">My PenFriend Dashboard</a>
            {% endif %}
            <a href="/penfriends/inbox">Inbox ({{unread_message_count}})</a>
            <a href="/logout">Logout</a>
        </nav>
        <div class="one column"></div>
        <div class="messagebuttons">
            <br>
            <form action="/message/compose" method="POST">{% csrf_token %}<input type="submit" value="Reply"></form>
            <br>
            <form action="/message/mark_read" method="POST">{% csrf_token %}<input type="hidden" id="message_id" name="message_id" value="{this_message.id}"><input type="submit" value="Mark read"></form>
            <br>
            <form action="/message/delete" method="POST">{% csrf_token %}<input type="hidden" id="message_id" name="message_id" value="{this_message.id}"><input type="submit" value="Delete"></form>
        </div>
        <div class="body">
            <h3>Message</h3>
            <p>From: {{this_message.creator.first_name}} {{this_message.creator.last_name}}</p>
            <p>To: {{this_message.recipient.first_name}} {{this_message.recipient.last_name}}</p>
            <p>Date: {{this_message.created_at}}</p>
            <p>Subject: {{this_message.subject}}</p>
            <p>Resident: {{this_message.pen_resident.first_name}} {{this_message.pen_resident.last_name}}</p>
            <p>{{this_message.content}}</p>
            {% if this_message.attachment %}
            <img src="{{this_message.attachment.url}}" alt="Message Attachment">
            <button><a href="{{this_message.attachment.url}}" download>Download</a></button>
            {% endif %}
        </div>
</body>
</html>