<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message details</title>
</head>
<body>
    <div class="container">
        <nav>
            <a href="/penfriends">Seeking PenFriends</a>
            {% if this_user.category == "admin" %}
            <a href="/penfriends/dashboard/admin">My Admin Dashboard</a>
            {% endif %}
            {% if this_user.category == "penpal" %}
            <a href="/penfriends/dashboard/penpal">My PenFriend Dashboard</a>
            {% endif %}
            <a href="/penfriends/inbox">Inbox({{this_user.messages.unread.count}})</a>
            <a href="/logout">Logout</a>
        </nav>
        <div class="messagebuttons">
            <br>
            <a href="/message/compose" class="button">Reply</a>
            <br>
            <a href="/message/{{message.id}}/mark_read" class="button">Mark read</a>
            <br>
            <a href="/message/{{message.id}}/delete" class="button">Delete</a>
        </div>
        <div class="body">
            <h3>Message</h3>
            <br>
            <br>
            <p>From: {{this_message.author}}</p>
            <p>Date: {{this_message.created}}</p>
            <p>Subject: {{this_message.subject}}</p>
            <br>
            <p>{{this_message.body}}</p>
            <br>
            <a href="/message/{{message.id}}" class="button">Download attachment</a>
        </div>
</body>
</html>