<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Penfriends</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <div class="one column"></div>
        <div class="two columns">
        <nav>
            <a href="/penfriends">Seeking PenFriends</a>
            {% if this_user.category == "admin" %}
            <a href="/penfriends/dashboard/admin">My Admin Dashboard</a>
            {% endif %}
            {% if this_user.category == "penpal" %}
            <a href="/penfriends/dashboard/penpal">My PenFriend Dashboard</a>
            {% endif %}
            <a href="/penfriends/inbox">Inbox ({{unread_message_count}})</a>
            <a href="/logout">Logout</a>
        </nav>
        <div class="one column"></div>
            <h1>Seeking PenFriends</h1>
            <div id="post_block">
                {% for post in all_the_posts %}
                <div id="post">
                    <h2>{{post.title}}</h2>
                    <p>{{post.body}}</p>
                    <p>Check out <a href="/penfriends/resident/{{post.for_resident.id}}">{{post.for_resident.first_name}} {{post.for_resident.last_name}}'s</a> profile for more info</p>
                    <img src={{post.for_resident.picture.url}} alt="{{post.for_resident.first_name}} {{post.for_resident.last_name}}">
                    {% if this_user.category == "penpal" %}
                    {% if post.for_resident not in this_user.penpal_residents.all %}
                    <form action="/penfriends/become_penfriend" method="POST">
                    {% csrf_token %}
                        <input name="resident_id" type="hidden" value={{post.for_resident.id}}>
                        <button type="submit">I want to be {{post.for_resident.first_name}}'s PenFriend</button>
                    </form>
                    {% endif %}
                    {% endif %}
                    {% if messages %}
                    <div class="alert alert-warning" role="alert">   
                        <ul class="messages">    
                            {% for message in messages %}    
                                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>